<!DOCTYPE html>
<html>
<head>
  <title>Alquiler de coches</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Cobrar</span>
  </nav>

  <div class="container-fluid">
    
  <form action="{{ url_for('cobrar.consultar') }}", method="post">

    <div class="form-group">
      <label for="dni">DNI</label>
      <input type="text" class="form-control" name="dni">
    </div>

    <div class="form-group">
      <label for="nombre">Identificador de coche</label>
      <input type="text" class="form-control" name="idcoche">
    </div>

    <div class="form-group">
      <label for="telefono">Fecha de inicio de alquiler</label>
      <input type="text" class="form-control" name="fecha_inicio">
    </div>

    <input type="submit" class="btn btn-primary" name="submit_button" value="Buscar">
    <input type="submit" class="btn btn-primary" name="submit_button" value="Mostrar todos">
  </form>
  
  </div>

  {% if mensaje %}
  <div class="container-fluid" style="padding-top: 30px"></div>
    {{ mensaje }}
  </div>
  {% endif %}

  {% if data %}
  <div class="container-fluid">
    <ul class="list-group">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">DNI</th>
					<th scope="col">IDcoche</th>
					<th scope="col">FechaInicio</th>
					<th scope="col">FechaFin</th>
					<th scope="col">Precio (€)</th>
					<th scope="col">Estado</th>
				</tr>
			</thead>
			<tbody>
				{% for row in data %}
				<li class="list-group-item">				  
					<tr>
						<td>{{ row.0 }}</td>
						<td>{{ row.1 }}</td>
						<td>{{ row.2 }}</td>
						<td>{{ row.3 }}</td>
						<td>{{ row.4 }}</td>
            <td>{{ row.5 }}</td>
            
            <td>
              <form action="{{ url_for('cobrar.cobrar_alquiler') }}", method="post">
                <input type="submit" name="submit_button" value="Cobrar">
                <input type="hidden" name="dni_cobrar" value="{{ row.0 }}">
                <input type="hidden" name="idcoche_cobrar" value="{{ row.1 }}">
                <input type="hidden" name="fecha_cobrar" value="{{ row.2 }}">           
              </form>
            </td>
					</tr>
				</li>
				{% endfor %}
			</tbody>
		</table>
    </ul>
  </div>
  {% endif %}


</body>

</html> 
