{% extends 'base.html' %}
{% block content %}

  <header class="masthead text-white text-center h-100">
    <div class="overlay"></div>
    <div class="container h-100">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Rentacar</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form id="eliminar" action="{{ url_for('inicio.inicio_f') }}", method="post">
            <div class="mx-auto">
              <input type="submit" class="btn btn-primary" name="submit_button" value="Inicializar BD">
              <input type="submit" class="btn btn-primary" name="submit_button" value="Insertar datos de prueba">
              <input type="submit" class="btn btn-primary" name="submit_button" value="Borrar datos">
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid">

  </div>


  {% if mensaje %}
  <div class="container-fluid" style="padding-top: 30px"></div>
    {{ mensaje }}
  </div>
  {% endif %}

{% endblock content %}
