<!DOCTYPE html>
<html>
<head>
  <title>Alquiler de coches</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">JAJAJA</span>
  </nav>

  <div class="container-fluid">
    
  <form action='/proveedores/consulta', method="post">
    <div class="form-group">
      <label for="nombre">Nombre proveedor</label>
      <input type="text" class="form-control" name="nombre">
    </div>
    <div class="form-group">
      <label for="CIF">CIF</label>
      <input type="text" class="form-control" name="cif">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
  </div>
  
  {% if data %}
  <div class="container-fluid">
    <ul class="list-group">
      {% for row in data %}
        <li class="list-group-item">CIF: {{ row.0 }} - Nombre: {{ row.1 }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</body>

</html> 
