{% extends 'base.html' %}
{% block content %}

  <div class="container-fluid">
    
  <form action='/proveedores/consulta', method="post">
    <div class="form-group">
      <label for="nombre">Nombre proveedor</label>
      <input type="text" class="form-control" name="nombre">
    </div>
    <div class="form-group">
      <label for="CIF">CIF</label>
      <input type="text" class="form-control" name="cif">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
  </form>
  
  </div>
  <br>
  {% if data %}
    <div class="container-fluid">

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">CIF</th>
            <th scope="col">Nombre</th>
            <th scope="col">Ubicacion</th>
            <th scope="col">Telefono</th>
            <th scope="col">Correo</th>
            <th scope="col">Fecha de Inicio</th>
            <th scope="col">Coches asociados</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for row in data %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ row.0 }}</td>
            <td>{{ row.1 }}</td>
            <td>{{ row.2 }}</td>
            <td>{{ row.3 }}</td>
            <td>{{ row.4 }}</td>
            <td>{{ row.5 }}</td>
            <td></td>
            <td><button type="button" class="btn btn-primary">Editar</button>
              <button type="button" class="btn btn-danger">Eliminar</button></td>
          </tr>
      {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endblock content %}
